<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/plotstyle.css">
    <title>Color Maps</title>
</head>
<body class = "result-body">
    <div class="page-header">
        <a href = "/"><h2>Home</h2></a>
        <h1>Color Maps</h1>
        <a href = "/colormap"><h2></h2></a>
        </div>
    <h5>
        Color Maps in a plot refer to the color scheme used to represent data values.
    </h5>
    <div class="centered-image-container">
        <img class="centered-image" src= "static/plasma.png" alt = 'plasma'>
        <img class="centered-image" src= "static/viridus.png" alt = 'viridus'>
    </div>

</body>
