<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">

    <title>DrawG</title>
</head>
<body>
    <h1>DrawGraph</h1>
    <div class="image-container">
        <h2>3D</h2>
        <br>
        <a href="/scatter3d"><img src="static/scatter3d.png"><p>Dots</p></a>
        <a href="/surface3d"><img src="static/plot_surface.png"><p>Surface</p></a>
        <a href="/trisurf"><img src="static/trisurf.png"><p>Triangulated Surface</p></a>
        <a href="/plot3d"><img src="static/plot3d.png"><p>Linear</p></a>
        <a href="/contour"><img src="static/contour.png"><p>Contour</p></a>
        <a href="/wireframe"><img src="static/wireframe.png"><p>WireFrame</p></a>
    </div>
    <div class ="image-container">
        <h2>2D</h2>
        <br>
        <a href="/pie"><img src="static/pie.png" alt="circle"><p>Circle</p></a>
        <a href="/bar"><img src="static/bar.png" alt="bar"><p>Bar</p></a>
        <a href="/plot"><img src="static/plot.png" alt="plot"><p>Linear</p></a>
        <a href="/scatter"><img src="static/scatter.png" alt="scatter"><p>Dots</p></a>
    </div>
</body>
</html>

