<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/plotstyle.css">

    <title>Marker</title>
</head>
<body class = "result-body">
    <div class="page-header">
        <a href = "/"><h2>Home</h2></a>
        <h1>Marker</h1>
        <a href = "/marker"><h2></h2></a>
        </div>
    <h5>
        Markers in a plot are symbols used to highlight or identify specific data points on the plot. They can be dots, squares, triangles, or other shapes.
    </h5>
    <div class="centered-image-container">
        <img class="centered-image" src= "static/marker.png" alt = 'marker'>
    </div>

</body>
