<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/plotstyle.css">

    <title>View</title>
</head>
<body class = "result-body">
    <div class="page-header">
        <a href = "/"><h2>Home</h2></a>
        <h1>View</h1>
        <a href = "/view"><h2></h2></a>
        </div>
    <h5>
        <b>Elevation</b> (elev): This angle determines how much the view is tilted above or below the xy-plane.<br> When elev is 0, the viewpoint is level with the xy-plane. Positive values of elev tilt the view upward, and negative values tilt it downward.
    </h5>
    <h5>
        <b>Azimuthal</b> (azim): This angle, on the other hand, represents the rotation around the z-axis. When azim is 0,<br> the viewpoint is aligned with the positive x-axis. As azim increases, the view rotates counterclockwise around the z-axis.
    </h5>
    <div class="centered-image-container">
        <img class="centered-image" src= "static/view.png" alt = 'view'>
    </div>

</body>
